<h1>测试rails 应用</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h3>链接如下
</h3>

<%= link_to '文章列表', 'articles', :class => 'btn btn-primary' %>
<%= link_to '新建文章', new_article_path %>
<% @book = Book.first %>
<% @author = @book.author %>
<%= link_to 'book1详细', [@author,@book], class: 'btn btn-info' %>
<%= link_to 'book编辑', [:edit,@author,@book], class: 'btn btn-primary' %>
