/ template_counter 渲染了多少次
%p="渲染了: #{balance_counter}次"
%li.list-group-item
  %p="收入: #{balance.income}"
%li.list-group-item
  %p="支出: #{balance.expense}"
%li.list-group-item
  %p="时间: #{balance.created_at.strftime("%F %T")}"