.row
  .col-md-2
    / 时间相关
    %p 年月日
    =date_select 'balance', 'created_at'
    %p 年 月 日 时 分
    =datetime_select 'balance', 'created_at'
    %p 时 分 秒
    %p=time_select 'balance', 'created_at'
    %p 时间间隔 描述 include_seconds ture 精确的
    %p=distance_of_time_in_words Time.now, Time.now + 15.seconds
    %p=distance_of_time_in_words Time.now, Time.now + 15.seconds, include_seconds: true
    %p 年月 日(没有写字段)
    %p=select_date Time.now + 3.days
    %p=select_date
    %p 年 月 日 时 分(没有写字段)
    %p=select_datetime(Time.now + 4.days)
    %p=select_datetime
    %p 天
    %p=select_day Time.now + 2.days
    %p=select_day 3
    %p 小时
    %p=select_hour Time.now + 1.hours
    %p 分钟
    %p=select_minute Time.now - 20.minutes
    %p 秒
    %p=select_second Time.now + 16.seconds
    %p 月份
    %p=select_month Date.today
    %p 年
    %p=select_year Date.today
    %p=select_year Date.today, start_year: 1900, end_year: 1908
    %p 到当前时间间隔
    %p=time_ago_in_words 5.minutes.from_now
    %p 日期输入框 相对来说漂亮点
    =date_field 'user', 'dob'
  .col-md-6
    / debug 方法
    =debug(@balance)
  .col-md-2
    %p 上传文件
    =file_field 'user','attachment'
    %p 隐藏标签
    =hidden_field 'user', 'token'
    %p label 标签
    =label :user, :title
    %p 密码框标签(字符串 符号 都行)
    =password_field 'user', 'password'
    %p 文本区域框(模型 字段 中间必须为乘号)
    =text_area :article, :body, size: "20x30"
    %p 文本框 标签
    =text_field :article, 'title'
    %p email 框
    =email_field 'user', 'email'
    %p url 框
    =url_field 'user', 'url'
    %p 集合 选项 会后两个为 在集合上调用的方法 值方法 文本方法
    =collection_select 'book','author',Author.all,:id,:name , prompt: true # prompt 提示
    %p 集合单选
    =collection_radio_buttons 'book','author',Author.all,:id,:name
    %p 集合复选
    =collection_check_boxes 'book','author',Author.all,:id,:name
    %p 分组选项
    %select
      / 集合 分组方式 组名称 选项值 选项文本 需放 select 标签
      =option_groups_from_collection_for_select Author.all, :books, :name, :id, :published_at
    %p 选项标签
    %select
      =options_for_select %w(张三 王五 李四)
    %p 集合选项标签简化板
    =options_from_collection_for_select Author.all, :id, :name
    %p 选择列表
    =select 'book','author_id', Author.all.collect {|a| [a.name,a.id]}
    %p 时区标签 无 select
    %select
      =time_zone_options_for_select
    %p 时区标签 有 select
    =time_zone_select 'user', 'time_zone'
